h1 {
    background:red

}
.paragraph1 {
   background:blue;
   font-size: 32pt;
   color:green
}
.paragraph2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-botton:60px;
    padding-botton: 60px;
    padding-left: 20px}
.paragraph3 {
    font-style: italic;
    text-align: center;
    font-size: 24px;
}
p {
    box-shadow: 10px 15px 5px green;
}